.node {
  width: 30px;
  height: 30px;
  outline: 1px solid grey;
  display: inline-block;
  cursor: pointer;
}

.node-visited {
  background-color: lightskyblue;
}


.node-shortest-path {
  background-color: darkseagreen;
}

.node-start {
  background-image: url('../../assets/images/mario.png');
  background-size: 25px 25px;
}

.node-finish {
  background-image: url('../../assets/images/princess.png');
  background-size: 25px 25px;
}

.select-start:hover {
  background-image: url('../../assets/images/mario.png');
  background-size: 25px 25px;
}

.select-finish:hover {
  background-image: url('../../assets/images/princess.png');
  background-size: 25px 25px;
}
